.recom-container {
  display: flex;
  flex-wrap: wrap;
}

.recommended-recipes-container {
  display: flex;
  height: 210px;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 2s linear;
  width: 100%;
}

.recommend-recipe-card {
  background-color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 172px;
  margin: 1%;
  padding: 1%;
  text-align: center;
  min-width: 161px;
}
