.details-thumbnail {
  width: 100%;
}

.details-container {
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  bottom: 80px;
  padding: 5%;
  position: relative;
}

.details-title-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.details-title {
  padding-top: 20px;
  font-size: 1.2em;
  font-weight: 700;
}

.favNshare {
  display: flex;
}

.shareicon {
  margin-right: 10px;
}

.favicon {
  width: 30px;
}

.details-category {
  margin: 0;
  color: grey;
}