body {
  height: 640px;
  position: relative;
  width: 360px;
}

.img {
  width: 100%;
}

.login {
  color: black;
  text-align: center;
}

.email {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  height: 58px;
  margin-bottom: 17px;
  margin-left: 10%;
  width: 80%;
}

.password {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  height: 58px;
  margin-bottom: 17px;
  margin-left: 10%;
  width: 80%;
}

.login-btn {
  background: #6ce34f;
  border-radius: 5px;
  font-size: large;
  height: 76px;
  margin-left: 7.5%;
  width: 85%;
}
