body {
  height: 640px;
  position: relative;
  width: 360px;
}

.login {
  align-items: flex-end;
  color: #000000;
  display: flex;
  font-family: Roboto;
  font-size: 39px;
  font-style: normal;
  font-weight: normal;
  height: 46px;
  left: 128px;
  line-height: 46px;
  position: absolute;
  top: 79px;
  width: 97px;
}

.email {
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  height: 58px;
  left: 31px;
  position: absolute;
  top: 155px;
  width: 293px;
}

.password {
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  height: 58px;
  left: 30px;
  position: absolute;
  top: 243px;
  width: 293px;
}

button {
  background: #6ce34f;
  height: 76px;
  left: 11px;
  position: absolute;
  top: 389px;
  width: 339px;
}
