.img {
  align-self: center;
  max-width: 500px;
  width: 100%;
}

.login {
  color: black;
  text-align: center;
}

.email {
  align-self: center;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  height: 58px;
  margin-bottom: 17px;
  /* margin-left: 10%; */
  max-width: 500px;
  width: 80%;
}

.password {
  align-self: center;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  height: 58px;
  margin-bottom: 17px;
  /* margin-left: 10%; */
  max-width: 500px;
  width: 80%;
}

.login-btn {
  align-self: center;
  background: #6ce34f;
  border-radius: 5px;
  font-size: large;
  height: 76px;
  /* margin-left: 7.5%; */
  max-width: 525px;
  width: 85%;
}

.loginDisplay {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
