.txt {
  color: black;
  font-size: larger;
  text-align: center;
}

.mainProfile {
  background-image: url('../../images/blueSplash.png');
  padding-bottom: 5%;
}

.botao {
  align-items: center;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  display: flex;
  flex-direction: column;
  font-size: larger;
  margin-left: 5%;
  margin-top: 2%;
  padding: 2%;
  text-decoration: none;
  width: 80%;
}
