body {
  border: 1px red;
}

.mainProfile {
  background-image: url('../../images/blueSplash.png');
  padding-bottom: 5%;
}

.txt {
  color: black;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.btns {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.botao {
  align-items: center;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  line-height: 29px;
  margin-top: 2%;
  padding: 2%;
  text-decoration: none;
  width: 80%;
}
