.header-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 0;
}

.shareicon {
  height: 26px;
  left: 284px;
  position: absolute;
  top: 167px;
  width: 26px;
}

.favicon {
  height: 26px;
  left: 321px;
  position: absolute;
  top: 167px;
  width: 26px;
}

.container-btn {
  display: flex;
}

.img-header {
  height: 155px;
  width: 360px;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  line-height: 35px;
  width: 126px;
}

.title-type {
  color: darkgray;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-style: normal;
  height: 25px;
  left: 9px;
  line-height: 25px;
  top: 200px;
  width: 87px;
}
