.explore {
  background-image: url('..//../images/hotSplash.png');
  min-height: 93vh;
  padding-bottom: 5%;
  width: 100%;
}

.btn {
  align-items: center;
  background: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  display: flex;
  flex-direction: column;
  font-size: larger;
  justify-content: center;
  margin: 3% auto;
  padding: 5%;
  text-decoration: none;
  width: 70%;
}

.btnPic {
  width: 20%;
}

.btnPic2 {
  height: 51px;
}
