.explore {
  background-image: url('..//../images/hotSplash.png');
  padding-bottom: 5%;
}

.btn {
  align-items: center;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  display: flex;
  flex-direction: column;
  font-size: larger;
  justify-content: center;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-top: 3%;
  padding: 5%;
  text-decoration: none;
  width: 80%;
}

.btnPic {
  width: 20%;
}

.btnPic2 {
  height: 51px;
}