body {
  background: white;
  height: 829px;
  padding: 0;
  width: 360px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.img-header {
  height: 155px;
  left: 0;
  top: 1px;
  width: 360px;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-style: normal;
  height: 35px;
  left: 8px;
  line-height: 35px;
  top: 165px;
  width: 126px;
}

.title-type {
  color: darkgray;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-style: normal;
  height: 25px;
  left: 9px;
  line-height: 25px;
  top: 200px;
  width: 87px;
}

.title-ingre {
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-style: normal;
  height: 30px;
  left: 10px;
  letter-spacing: 0.03em;
  line-height: 30px;
  top: 242px;
  width: 138px;
}

.ingrediente-row {
  background: #ececec;
  border-radius: 4px;
  height: 118px;
  left: 10px;
  top: 279px;
  width: 341px;
}

.instruc-container {
  display: flex;
  flex-wrap: wrap;
}

.instruc {
  align-items: flex-end;
  color: black;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-style: normal;
  height: 30px;
  left: 10px;
  letter-spacing: 0.03em;
  line-height: 30px;
  top: 407px;
  width: 147px;
}

.intruc-div {
  background: #ececec;
  border-radius: 4px;
  height: 62px;
  left: 11px;
  top: 441px;
  width: 341px;
}

.recomen-container {
  display: flex;
  flex-wrap: wrap;
}

.recom-title {
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-style: normal;
  height: 30px;
  left: 13px;
  letter-spacing: 0.03em;
  line-height: 30px;
  top: 511px;
  width: 189px;
}

.recom-img {
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 172px;
  margin: 5px 0;
  text-align: center;
  width: 161px;
}

.thumbnail {
  border-radius: 6px 6px 0 0;
  height: 109px;
  width: 161px;
}

.start-receip {
  background: #6ce34f;
  height: 76px;
  left: 13px;
  top: 736px;
  width: 339px;
}

.btn-text {
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 29px;
  font-style: normal;
  height: 34px;
  left: 82px;
  line-height: 34px;
  text-align: center;
  top: 757px;
  width: 183px;
}

.select-area {
  width: 70%;
}
