.header-top {
  align-items: center;
  background: orange;
  color: white;
  display: flex;
  font-family: Gochi Hand, cursive;
  font-size: larger;
  justify-content: space-around;
  width: 100%;
}

.search-icon-hidden {
  width: 7%;
}

.header-bottom {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.search-input {
  align-self: center;
  border-radius: 3px;
  margin-top: 5px;
  width: 50%;
}

.search-box {
  align-content: center;
  background-color: orange;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  width: 100%;
}

.search-btn {
  margin: 5px auto;
  width: 40%;
}

.radios {
  align-self: center;
}