.details-container {
  background-color: rgb(255, 229, 172);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-sizing: border-box;
  bottom: 80px;
  padding: 5%;
  position: relative;
}

.fixed {
  background-color: white;
  border-radius: 5px;
  border: 0;
  bottom: 0;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5em;
  height: 13%;
  position: fixed;
  width: 100%;
}

.iframe {
  width: 100%;
  margin-bottom: 30px;
}
