@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Open+Sans&display=swap'); 

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 93vh;
  width: 100%;
  /* font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New',
    monospace;
}
