body {
  background: #ffffff;
  height: 829px;
  position: relative;
  width: 360px;
}

.container {
  display: flex;
}

.instruction {
  color: #000000;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: normal;
  height: 30px;
  left: 10px;
  letter-spacing: 0.03em;
  line-height: 30px;
  position: absolute;
  top: 407px;
  width: 147px;
}
.instructions-p {
  overflow: hidden;
  max-width: 75ch;
}
.img-header {
  height: 155px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 360px;
}

.title {
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  height: 35px;
  left: 8px;
  line-height: 35px;
  position: absolute;
  top: 165px;
  width: 126px;
}

.title-type {
  color: #a9a9a9;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
  height: 25px;
  left: 9px;
  line-height: 25px;
  position: absolute;
  top: 200px;
  width: 87px;
}

.ingredientes {
  position: absolute;
  color: #000000;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: normal;
  height: 30px;
  left: 10px;
  letter-spacing: 0.03em;
  line-height: 30px;
  top: 242px;
  width: 138px;
}

.ingredientes-container {
  background: #ececec;
  border-radius: 4px;
  height: 118px;
  left: 10px;
  position: absolute;
  top: 279px;
  width: 341px;
}

.recomendada {
  position: absolute;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: normal;
  height: 30px;
  left: 13px;
  line-height: 30px;
  top: 511px;
  width: 189px;
}
.img-recomendada {
  position: absolute;
  width: 162px;
  height: 172px;
  left: 13px;
  top: 546px;
}

.start-receip {
  position: absolute;
  width: 339px;
  height: 76px;
  left: 13px;
  top: 736px;
  background: #6ce34f;
}
